# .npmignore 

./src
./scripts
./test
./.husky
./android
./ios
./jsconfig.json
./metro.config.js
./react-native.config.js
.editorconfig
.gitignore
.gitattributes
.npmignore
.npmrc
.prettierignore
.yarnrc
babel.config.js